<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../partials/header1.ejs %>
</head>

<!-- style="background-image: url('bg.jpg');" -->
  <body style="background-image: url('/bg.jpg');">
    <div class="materialContainer">


        <div class="box">
     
           <div class="title">LOGIN</div>
     
           <div class="input">
              <label for="name">Username</label>
              <input type="text" name="name" id="name">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <label for="pass">Password</label>
              <input type="password" name="pass" id="pass">
              <span class="spin"></span>
           </div>
     
           <div class="button login">
              <button onclick="loadUsers()"><span>GO</span><i class="fa fa-check"></i></button>
           </div>
    
     
        </div>
        </div>
     </div> 
  
     
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC8jeozq-H6ZZpeF5pdQVQo3bpkQE7SUMc",
    authDomain: "barangay-gulodi.firebaseapp.com",
    databaseURL: "https://barangay-gulodi.firebaseio.com",
    projectId: "barangay-gulodi",
    storageBucket: "barangay-gulodi.appspot.com",
    messagingSenderId: "129852713233"
  };
  firebase.initializeApp(config);
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="/js/login.js"></script>

</body>

</html>