<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../partials/header.ejs %>
</head>

<body class="fixed-nav sticky-footer" id="page-top">
        <% include ../partials/nav.ejs %>
  <div class="content-wrapper">
    <div class="container-fluid">
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Secretary')" id="defaultOpen">Secretary</button>
      
    </div>
    
    <div id="Secretary" class="tabcontent">
        <br>
        <div class="row">
          <div class="col-md-12">
                Type:&nbsp;
                <select id="selectType">
                    <option value="type0" selected disabled hidden>Choose here</option>
                    <option value="type1">Barangay Official's Information Sheet</option>
                    <option value="type2">Application for Barangay Protection Order</option>
                    <option value="type3">Barangay Protection Order</option>
                    <option value="type4">LGMED Request Form</option>
                    <option value="type5">MASA MASID Intake Form</option>
                    <option value="type6">MASA MASID Team and Rehabilitation Network</option>
                </select>      
            <br>
            <br>
            <div id="type0" class="group"></div>

            <div id="type1" class="group">
              <div class="row">              
                <div class="col-md-2">
                  City/Municipality:
                </div>
                <div class="col-md-4">
                  <input class="enjoy-css" class="form-control" id="City" size="20" required>
                </div>  
                <div class="help-block with-errors"></div>
              </div>
              <br>
              <div class="row">           
                <div class="col-md-2">
                  Barangay:
                </div>
                <div class="col-md-4">
                  <input class="enjoy-css" class="form-control" id="Barangay" size="20" required>
                </div>  
                <div class="help-block with-errors"></div>
              </div>
              <br>
              <strong>ELECTIVE AND APPOINTIVE POSITION</strong>
              <div class="row">
                <div class="col-md-12">
                    <input type="radio" id="Position" name="gender" value="pos1"> Punong Barangay<br>
                    <input type="radio" id="Position" name="gender" value="pos2"> Sanguniang Barangay Member<br>
                    <input type="radio" id="Position" name="gender" value="pos3"> SK Chairperson <br>
                    <input type="radio" id="Position" name="gender" value="pos4"> SK Member <br>
                    <input type="radio" id="Position" name="gender" value="pos5"> Barangay Treasurer<br>
                    <input type="radio" id="Position" name="gender" value="pos6"> Barangay Secretary
                    Relationship with the Appointing Authority: <input type="text" id="Rel">
                    <br>
                    <input type="radio" id="Position" name="gender" value="pos7"> IPMR <br>
                    <input type="radio" id="Position" name="gender" value="pos8"> Other Appointive Barangay Official: <input type="text" id="Other">
                </div> 
                <div class="help-block with-errors"></div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  TERM IN THE PRESENT POSITION
                  <form id="Term">
                    <input type="radio" name="term" value="term1"> 1st
                    <input type="radio" name="term" value="term2"> 2nd
                    <input type="radio" name="term" value="term3"> 3rd
                  </form>
                </div> 
                <div class="help-block with-errors"></div>
              </div>
              <br>
              <strong>PERSONAL INFORMATION</strong>
              <div class="row">
                  <div class="col-md-12">
                    <input type="text" placeholder="Last Name" id="Last_name">
                    <input type="text" placeholder="Suffix" id="Suffix">
                    <input type="text" placeholder="First Name" id="First_name">
                    <input type="text" placeholder="Middle Name" id="Middle_Name">
                  <div class="help-block with-errors"></div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12">
                    <input type="date" id="Birthday">
                    <input type="text" placeholder="Birth Place" id="Birth_place">
                    <input type="text" placeholder="Sex" id="Sex">
                    <input type="text" placeholder="Civil Status" id="Civil_Status">
                    <input type="text" placeholder="Religion" id="Religion">
                  <div class="help-block with-errors"></div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12">
                    <input type="text" placeholder="Residence Address" id="Address">
                    <input type="text" placeholder="Residence Telephone No." id="Telephone">              
                    <div class="help-block with-errors"></div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12">
                    <input type="text" placeholder="Mobile" id="Mobile">
                    <input type="text" placeholder="Barangay Telephone No." id="BTelephone">    
                    <input type="text" placeholder="Email Address" id="Email">             
                    <div class="help-block with-errors"></div>
                  </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <strong>HIGHEST EDUCATIONAL ATTAINMENT</strong><br>
                    <input type="radio" name="educ" value="1"> Elementary<br>
                    <input type="radio" name="educ" value="2"> Highschool<br>
                    <input type="radio" name="educ" value="3"> College<br>
                    <input type="radio" name="educ" value="4"> Post Grad<br>
                    <input type="radio" name="educ" value="5"> Vocational<br>
                </div> 
                <div class="help-block with-errors"></div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <strong>Please specify:</strong>
                </div>
                <div class="col-md-10">                
                  <form id="HEA_Status">
                    <input type="radio" name="hstatus" value="h1"> Graduate&nbsp;&nbsp;
                    <input type="radio" name="hstatus" value="h2"> Under Graduate
                  </form>
                </div> 
                <div class="help-block with-errors"></div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12">
                    <input type="text" placeholder="Occupation" id="Occupation">
                    <input type="text" placeholder="Honorarium" id="Honorarium">              
                    <div class="help-block with-errors"></div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-12">
                    <strong>BENEFICIARIES</strong><br>
                  <table>
                    <tr>
                      <th>Name</th>
                      <th>Date of Birth</th>
                      <th>Relationship</th>
                    </tr>
                    <tr>
                      <th><input type="text" id="Name1"></th>
                      <th><input type="date" id="Birthday1"></th>
                      <th><input type="text" id="Relationship1"></th>
                    </tr>
                    <tr>
                      <th><input type="text" id="Name2"></th>
                      <th><input type="date" id="Birthday2"></th>
                      <th><input type="text" id="Relationship2"></th>
                    </tr>
                    <tr>
                      <th><input type="text" id="Name3"></th>
                      <th><input type="date" id="Birthday3"></th>
                      <th><input type="text" id="Relationship3"></th>
                    </tr>
                    <tr>
                      <th><input type="text" id="Name4"></th>
                      <th><input type="date" id="Birthday4"></th>
                      <th><input type="text" id="Relationship4"></th>
                    </tr>
                    <tr>
                      <th><input type="text" id="Name5"></th>
                      <th><input type="date" id="Birthday5"></th>
                      <th><input type="text" id="Relationship5"></th>
                    </tr>
                  </table>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <br>
            </div>

            <div id="type2" class="group">
              <div class="row">
                <div class="col-md-2">
                  Barangay:
                </div>
                <div class="col-md-4">
                  <input type="text" placeholder="Barangay" id="ABPO_Barangay">
                </div>
              </div>
              <br>
              <Strong>1.</Strong>
              <div class="row">
                <div class="col-md-2">
                  Name of Applicant:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Name_Applicant">
                </div>
                <div class="col-md-2">
                  Date of Birth:
                </div>
                <div class="col-md-4">
                  <input type="date" id="ABPO_Date_Applicant">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Address:
                </div>
                <div class="col-md-4">                
                  <input type="text" id="ABPO_Address_Applicant">
                </div>
                <div class="col-md-2">
                  Tel. No.:
                </div>
                <div class="col-md-4">                
                  <input type="text" id="ABPO_Tel_Applicant">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Relationship to Victim:
                </div>
                <div class="col-md-4">                
                  <input type="text" id="ABPO_Rel_Applicant">
                </div>
                <div class="col-md-2">
                  Occupation:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Occu_Applicant">
                </div>
              </div>
              <br>
              <br>
              <Strong>2.</Strong>
              <div class="row">
                <div class="col-md-2">
                  Name of Victim:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Name_Victim">
                </div>
                <div class="col-md-2">
                  Date of Birth:
                </div>
                <div class="col-md-4">
                  <input type="date" id="ABPO_Date_Victim"><br>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Address:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Address_Victim">
                </div>
                <div class="col-md-2">
                  Tel. No.:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Tel_Victim">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Occupation or<br>Source of Income:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Occu_Victim">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                    Civil Status:
                </div>
                <div class="col-md-10">
                    <input type="radio" name="civil" value="c1"> Single &nbsp;
                    <input type="radio" name="civil" value="c2"> Married &nbsp;
                    <input type="radio" name="civil" value="c3"> Widow &nbsp;
                    <input type="radio" name="civil" value="c4"> Separated &nbsp;
                    <input type="radio" name="civil" value="c5"> Legally Separated
                </div> 
              </div>
              <br>
              <br>
              <strong>3.</strong>
              <div class="row">
                <div class="col-md-12">
                  <table id="sec">
                    <tr>
                      <th>Name/s of Children</th>
                      <th>Date/s of Birth</th>
                      <th>Sex</th>
                    </tr>
                    <tr>
                      <td><input type="text" class="sec" id="ABPO_Name1"></td>
                      <td><input type="date" class="sec" id="ABPO_Birthday1"></td>
                      <td><input type="text" class="sec" id="ABPO_Sex1"></td>
                    </tr>
                    <tr>
                      <td><input type="text" class="sec" id="ABPO_Name2"></td>
                      <td><input type="date" class="sec" id="ABPO_Birthday2"></td>
                      <td><input type="text" class="sec" id="ABPO_Sex2"></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>Other Children under her care</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                      <td><input type="text" class="sec" id="ABPO_Name3"></td>
                      <td><input type="date" class="sec" id="ABPO_Birthday3"></td>
                      <td><input type="text" class="sec" id="ABPO_Sex3"></td>
                    </tr>
                    <tr>
                      <td><input type="text" class="sec" id="ABPO_Name4"></td>
                      <td><input type="date" class="sec" id="ABPO_Birthday4"></td>
                      <td><input type="text" class="sec" id="ABPO_Sex4"></td>
                    </tr>
                  </table>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <br>
              <br>
              <strong>4.</strong>
              <div class="row">
                <div class="col-md-12">
                  <table id="sec">
                    <tr>
                      <th>Name/s of Respondent</th>
                      <th>Date/s of Birth</th>
                      <th>Sex</th>
                    </tr>
                    <tr>
                      <td><input type="text" class="sec" id="ABPO_Name5"></td>
                      <td><input type="date" class="sec" id="ABPO_Birthday5"></td>
                      <td><input type="text" class="sec" id="ABPO_Sex5"></td>
                    </tr>
                    <tr>
                      <td><input type="text" class="sec" id="ABPO_Name6"></td>
                      <td><input type="date" class="sec" id="ABPO_Birthday6"></td>
                      <td><input type="text" class="sec" id="ABPO_Sex6"></td>
                    </tr>
                  </table>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Address:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Address">
                </div>
                <div class="col-md-2">
                  Tel. No.:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Tel">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Sex:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Sex"><br>
                </div>
                <div class="col-md-2">
                  Occupation or<br>Source of Income:
                </div>
                <div class="col-md-4">
                  <input type="text" id="ABPO_Occu">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                    Civil Status:
                </div>
                <div class="col-md-10">
                    <input type="radio" name="civils" value="cv1"> Single &nbsp;
                    <input type="radio" name="civils" value="cv2"> Married &nbsp;
                    <input type="radio" name="civils" value="cv3"> Widow &nbsp;
                    <input type="radio" name="civils" value="cv4"> Separated &nbsp;
                    <input type="radio" name="civils" value="cv5"> Legally Separated
                </div> 
              </div>
              <br>
              <br>
              <strong>5.</strong>
              <div class="row">
                <div class="col-md-4">
                    Relationship of Victim to Respondent:
                </div>
                <div class="col-md-7">
                    <input type="radio" name="relv" value="v1"> Wife &nbsp;
                    <input type="radio" name="relv" value="v2"> Former Wife &nbsp;
                    <input type="radio" name="relv" value="v3"> Physical Injuries
                </div> 
              </div>
              Description:
              <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" cols="115" id="ABPO_Desc5"></textarea>
                </div> 
              </div>
              <br>
              <strong>6.</strong>
              <div class="row">
                <div class="col-md-2">
                    Acts accompanied of:
                </div>
                <div class="col-md-9">
                    <input type="radio" name="acts" value="a1"> Threats &nbsp;
                    <input type="radio" name="acts" value="a2"> Physical Injuries
                </div> 
              </div>
              Description:
              <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" cols="115" id="ABPO_Desc6"></textarea>
                </div> 
              </div>
              <br>
              <br>
              <strong>7.</strong>
              Date/s of commision:
              <div class="row">
                <div class="col-md-12">
                    <textarea rows="1" cols="115" id="ABPO_Date_Comm"></textarea>
                </div> 
              </div>
              <br>
              <strong>8.</strong>
              Place/s of commision:
              <div class="row">
                <div class="col-md-12">
                    <textarea rows="1" cols="115" id="ABPO_Place_Comm"></textarea>
                </div> 
              </div>
              <br>
              <br>
              <strong>9.</strong>
              If applicant is not the victim, state the circumstances of consent:
              <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" cols="115" id="ABPO_Consent"></textarea>
                </div> 
              </div>
              <br>
            </div>

            <div id="type3" class="group">
              <div class="row">
                <div class="col-md-2">
                  Name of Respondent:
                </div>
                <div class="col-md-4">
                  <input type="text" id="BPO_Name_Res">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Address:
                </div>
                <div class="col-md-4">
                  <input type="text" id="BPO_Add">
                </div>
              </div>
              <br>
              <strong>ORDER</strong>
                <div class="row">
                  <div class="col-md-2">
                    Name:
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Name">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    Date:
                  </div>
                  <div class="col-md-4">
                    <input type="date" id="Order_Date">                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    Stated under oath:<br>
                    <textarea rows="3" cols="115" id="Order_Oath"></textarea>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    Cause physical harm to:
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Harm">                                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    Children
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    Name/s:
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Child1">                                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Child2">                                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Child3">                                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Child4">                                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Child5">                                  
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="BPO_Order_Child6">                                  
                  </div>
                </div>
                <br>
            </div>

            <div id="type4" class="group">
              <div class="col-md-2">
                4
              </div>
            </div>

            <div id="type5" class="group">
              <strong>MODE OF REPORTING</strong>
              <div class="row">
                <div class="col-md-12">
                  <input type="radio" name="mode" value="1"> Hotline <br>
                  <input type="radio" name="mode" value="2"> E-mail <br>
                  <input type="radio" name="mode" value="3"> Dropbox <br>
                  <input type="radio" name="mode" value="4"> SMS <br>
                  <input type="radio" name="mode" value="5"> Personal           
                </div> 
              </div>
              <br>
              <strong>NATURE OF REPORT</strong>
              <div class="row">
                <div class="col-md-12">
                  <input type="radio" name="nature" value="1"> Illegal Drugs <br>
                  <input type="radio" name="nature" value="2"> Corruption <br>
                  <input type="radio" name="nature" value="3"> Criminalities <br>
                  <input type="radio" name="nature" value="4"> Violent Extremism <br>
                  <input type="radio" name="nature" value="5"> Other Threats to Peace and Security           
                </div> 
              </div>
              <br>
              <strong>PROFILE</strong>
              <div class="row">
                <div class="col-md-2">
                  Name/Organization:
                </div>
                <div class="col-md-4">
                  <input type="text" id="MASA_Name">
                </div> 
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Address:
                </div>
                <div class="col-md-4">
                  <input type="text" id="MASA_Add">
                </div> 
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Occupation:
                </div>
                <div class="col-md-4">
                  <input type="text" id="MASA_Occ">
                </div> 
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Contact Number:
                </div>
                <div class="col-md-4">
                  <input type="text" id="MASA_Num">
                </div> 
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  E-mail Address:
                </div>
                <div class="col-md-4">
                  <input type="text" id="MASA_Email">
                </div> 
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <strong>REPORTED CONCERNS (REKLAMO/KAHILINGAN/KATANUNGAN):</strong>
                  <textarea rows="3" cols="115" id="MASA_Concern"></textarea>
                </div> 
              </div>
              <br>
            </div>

            <div id="type6" class="group">
              <div class="row">
                <div class="col-md-2">
                  Barangay:
                </div>
                <div class="col-md-4">                
                <input type="text" id="RN_Barangay">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Pampangasiwaan utos bilang:
                </div>
                <div class="col-md-4">
                  <input type="text" id="RN_Number">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2">
                  Punong Barangay:
                </div>
                <div class="col-md-4">
                  <input type="text" id="RN_Pbarangay">
                </div>
              </div>
              <br>
              <strong>MASA MASID TEAM</strong>
              <div class="row">  
                  <div class="col-md-2">
                    Mga Kasapi:
                  </div>
                <div class="col-md-12">
                  <table id="sec">
                    <tr>
                      <th>Pangalan</th>
                      <th>Posisyon</th>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N0"></td>
                      <td>(Barangay Kagawad)</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N1"></td>
                      <td>(Barangay Tanod)</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N2"></td>
                      <td>(Sektor ng Relihiyon)</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N3"></td>
                      <td>(Sektor ng Edukasyon)</td>
                    </tr>
                    <tr>
                      <td><input type="text"id="RN_N4"></td>
                      <td>(Sektor ng Kabataan)</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N5"></td>
                      <td>(Kinatawan ng NGO o </td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N6"></td>
                      <td>Aktibong Miyembro</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N7"></td>
                      <td> ng Komunidad)</td>
                    </tr>
                    <tr>
                      <td><input type="text" id="RN_N8"></td>
                      <td>(Kinatawan ng Kababaihan)</td>
                    </tr>
                  </table>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <br>
              <div class="row">  
                <div class="col-md-2">
                  Mga Kasapi:
                </div>
                <div class="col-md-12">
                    <table id="sec">
                      <tr>
                        <th>Pangalan</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td><input type="text" id="RN_N9"></td>
                        <td>Mga Aktibong Miyembro</td>
                      </tr>
                      <tr>
                        <td><input type="text" id="RN_N10"></td>
                        <td> ng Komunidad mula</td>
                      </tr>
                      <tr>
                        <td><input type="text" id="RN_N11"></td>
                        <td> sa propesyon ng Medisina</td>
                      </tr>
                      <tr>
                        <td><input type="text" id="RN_N12"></td>
                        <td> doctor, nars, psychologist,</td>
                      </tr>
                      <tr>
                        <td><input type="text"id="RN_N13"></td>
                        <td> guidance counsellors, at iba pang volunteers:</td>
                      </tr>
                    </table>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
          <div class="footer" style="text-align: right">
            <button type="button" class="btn btn-primary" id="modal_okay_print">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
    </div>
   
    </div>
  </div>

  <div class="content-wrapper">
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" onclick="clearSession()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
  </div>

  <script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>

  
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD7aCvIwh3q4hs1LACtScpq-QhXCcZNQ64",
    authDomain: "barangay-dalig.firebaseapp.com",
    databaseURL: "https://barangay-dalig.firebaseio.com",
    projectId: "barangay-dalig",
    storageBucket: "barangay-dalig.appspot.com",
    messagingSenderId: "1072131148594"
  };
  firebase.initializeApp(config);
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/sweetalert2.min.js"></script>
  <script src="/js/secretary.js"></script>
</body>

</html>